[submodule "src/Services/IdentityService"]
	path = src/Services/IdentityService
	url = https://github.com/Virender7296/Tempestra-Identity-Service.git
[submodule "src/Gateway/ApiGateway"]
	path = src/Gateway/ApiGateway
	url = https://github.com/Virender7296/Tempestra-APIGateway.git
